/* Genel ayarlar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    color: #f4f4f4;
    background-color: #1e1e1e;
}

a {
    text-decoration: none;
    color: #fff;
}

header {
    background-color: #000;
    color: white;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #444;
    border-radius: 5px;
}

main {
    padding: 40px;
}

.about, .contact {
    margin-bottom: 40px;
}

.about h1, .contact h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    color: #ccc;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 16px;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea {
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #2a2a2a;
    color: #fff;
}

button.btn {
    padding: 10px 20px;
    background-color: #ff4747;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
}

button.btn:hover {
    background-color: #ff6161;
}

footer {
    background-color: #111;
    padding: 20px;
    color: #aaa;
    text-align: center;
}
