* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.blur-background {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('img/login.png') no-repeat center center/cover;
    filter: blur(8px);
}

.content {
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0.5); /* Kenarlık */
    border-radius: 10px; /* Kenar yuvarlama */
    backdrop-filter: blur(10px); /* Arka plan bulanıklaştırma */
    background-color: rgba(0, 0, 0, 0.5); /* Yarı saydam arka plan */
}

h1 {
    font-size: 80px;
    margin-bottom: 20px;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    background-color: #ff4747;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #ff6161;
}
